<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aurora.SandboxDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aurora.SandboxDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aurora.SandboxDesigner.Properties.Settings>
            <setting name="vmdb" serializeAs="String">
                <value>flow.xml</value>
            </setting>
        </Aurora.SandboxDesigner.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Aurora.SandboxDesigner.Properties.Settings>
            <setting name="vmexe" serializeAs="String">
                <value>Sandbox.exe</value>
            </setting>
        </Aurora.SandboxDesigner.Properties.Settings>
    </userSettings>
</configuration>